@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=PT+Serif:wght@700&display=swap'); /* Nom prénom ..font-family: 'PT Serif', serif;.. */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap'); /* Web Dev + titres ..font-family: 'Oswald', sans-serif;.. */
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap'); /* global text ..font-family: 'Noticia Text', serif;.. */

html {
    scroll-behavior: smooth;
}

body {
    color: white !important;
    background-color: #292929 !important;
    font-family: 'Noticia Text', sans-serif;
    background: url(../img/bg.jpg) no-repeat fixed;
    background-size: cover;
}

/* *******************************************NavBar************************************************ */

.navbar, .navbar-toggler-icon {
    background-color: rgba(106, 144, 246, 0.5);
    opacity: 0.9;
    height: 52px;
    transition: 0.7s;
}

.navbar-nav {
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.centerBtn {
    margin-left: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    color: white !important;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

header .show,header .collapsing {
    margin-top: 10px;
    background-color: rgba(62, 89, 179, 0.9);
    border-radius: 5px;
    border: solid black 1px;
}

/* navBrightEffect */

#brightFont {
    position: absolute;
    background-color: black;
    opacity: 0.2;
    height: 52px;
    width: 100%;
    overflow: hidden;
}
  
#bright {
    position: relative;
    background-color: white;
    transform: rotate(45deg);
    background-image: linear-gradient(to right, rgba( 0,0,0,1 ) 35%, rgba( 0,0,0,0 ) 37%,
        rgba( 0,0,0,1 ) 40%, rgba( 0,0,0,0 ) 45%, rgba( 0,0,0,0 ) 55%, rgba( 0,0,0,1 ) 60%);
    color: white;
    height: 1000%;
    margin-top: -25%;
    width: 20%;

    animation: 60s linear 0s infinite BrightZone;
}
@keyframes BrightZone { from { margin-left:-100%; } to { margin-left:150%; } }

/* *******************************************Fin du Header************************************************ */


.voidTop {
    background-color: transparent;
    height: 100px;
}

h1 {
    font-family: 'PT Serif', serif;
    font-size: 4.3em;
    text-transform: uppercase;
}

#skillsContainer h1, #careerContainer h1, #contactContainer h1, #careerContainer h2 {
    margin-bottom: 50px;
}

h2 ,p {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

header, main {
    text-align: center;
}

.profilImage {
    width: 400px !important;
    height: 400px;
    margin: auto;
    border: 1px solid grey;
    background-color: black;
    opacity: 0.9;
}

.profilImage > img {
    width: 400px;
    padding: 15px;
}



main .button {
    margin-top: 2em;
    position: relative;
}

#cache {
position: absolute;
    transition-property: opacity;
    transition-duration: 1s;
}

#cache:hover {
    opacity: 0%;
}

main .button a {
    padding: 20px;
    border: 1px solid white;
    background-color: black;
    opacity: 0.9;
    color: white;
}

/* Gauge Canvas*/
.gaugeRound {
    border : 10px solid black;
    border-radius: 85px;
}

.gaugeText2 {
    width: 95%;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 72px;
}